<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Movie Recommendations</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="../static/css/rangeSlider.css"/>
    
</head>
<body>
    <header>
        <a class="my-github" href="https://github.com/puddinator/group-movie-recommendations" target="_blank">
            Source Code
            <img class="my-github-image" src="../static/images/github.png" alt="Github Mark">
        </a>
    </header>
    <div class="introduction">
        <h1>Group Movie Recommendations</h1>
        <ul class="introduction-list">
            <li>1. Input the group's Letterboxd account names</li>
            <li>2. Grab some popcorn while recommendations generate</li>
            <li>3. Decide on which movie to watch or have one randomized</li>
            <li>4. Enjoy!</li>
        </ul>
    </div>
    <div class="form-container">
        <h3> We have &nbsp;
            <select id="number-of-accounts" name="number-of-accounts" form="username-form">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              &nbsp; letterboxd account(s)! 
        </h3>
        <form id="username-form" method="POST">
            <div class="username-input-column">
                <input type="text" class="username-input" id="username" name="username_1" autocomplete="on" placeholder="Letterboxd Username">
            </div>
            <input type="submit" class="submit-button" id="submit-username-form" value="Submit" disabled>
        </form>
    </div>
    <div id="progress-container">
        <!-- <ul id="progress-list">
            <li>Test</li>
            <li>Alignment Test</li>
        </ul> -->
    </div>
    <section id="filters">
        <!-- <div class="filter-container">
            <h5>Popularity</h5>
            <input type="text" class="popularity-js-range-slider" name="my_range" value="" />
            <div class="slide-texts">
                <p class="slide-text">Well-rated</p>
                <p class="slide-text">Obscure</p>
            </div>
        </div>
        <div class="filter-container">
            <h5>Year</h5>
            <input type="text" class="year-js-range-slider" name="my_range" value="" />
            <div class="slide-texts">
                <p class="slide-text">1920</p>
                <p class="slide-text">2022</p>
            </div>
        </div> -->
    </section>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr class="fill-with-header">
                    <!-- <th scope="col" style="width: 70%;"></th>
                    <th scope="col" style="width: 10%;">Letterboxd Rating</th>
                    <th scope="col" style="width: 10%;">Abrokepcbuilder's<br> Predicted Score</th> -->
                </tr>
            </thead>
            <tbody class="fill-with-results">
                <!-- <tr class="color-and-space" data-number-watched="1900000">
                    <td class="responsive-bar">
                        <div class="image-title-genre">
                            <img class="movie-image" src="https://www.gamespot.com/a/uploads/original/1562/15626911/3776884-image%285%29.png"/>
                            <div class="title-genre">
                                <p class="title">Beautiful Title for Beautiful Movie for Beautiful People (2019)</p>
                                <ul class='genre-items'>
                                    <li class="genre-item">Drama</li>
                                    <li class="genre-item">Very very</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><span class="add-info">8.45</span></td>
                    <td><span class="add-info">8.45</span></td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="footer-container">
        <hr>
        <p>Huge inspiration drawn from Sam Learner</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/rangeSlider.js"></script>
    <script src="../static/js/script.js" defer></script>
</body>
</html>